#sidebar
  %ul.nav.vnav
    %li
      %a.icon-salidas-grupales{:href=>"#"} Salidas Grupales
    %li
      %a.icon-internacionales{:href=>"#"} Internacionales
    %li
      %a.icon-nacionales{:href=>"#"} Nacionales & Regionales
    %li
      %a.icon-regalo-boda{:href=>"#"} Regalo de Bodas
    %li
      %a.icon-cruceros{:href=>"#"} Cruceros
    %li
      %a.icon-propuestas{:href=>"#"} Propuestas on line
#content
  #header
    .top
      %h1
        %a.icon-logo{:href=>"#"} Area Viajes
      %ul.nav.hnav
        %li
          %a.icon-consultas{:href=>"#"} Consultas
        %li
          %a.icon-suscribite{:href=>"#"} Suscribite
        %li
          %a.icon-hacetefan{:href=>"#"} Hacete fan
    .bottom
      %h2.icon-titulo Nuestras Salidas Grupales acompañadas 2013
  #viewport
    #grid
      %ul.nav.hnav
        %li
          %a.trip.right{:href=>"#"}
            %img.data{:src=>"/images/trips/v1-bg.png"}
            %img{:src=>"/images/trips/v1-1.jpg"}
            %img.transparent{:src=>"/images/trips/v1-2.jpg"}
            %img.transparent{:src=>"/images/trips/v1-3.jpg"}
        %li
          %a.trip.right{:href=>"#"}
            %img.data{:src=>"/images/trips/v2-bg.png"}
            %img{:src=>"/images/trips/v2-1.jpg"}
            %img.transparent{:src=>"/images/trips/v2-2.jpg"}
            %img.transparent{:src=>"/images/trips/v2-3.jpg"}
        %li
          %a.trip.left{:href=>"#"}
            %img.data{:src=>"/images/trips/v3-bg.png"}
            %img{:src=>"/images/trips/v1-1.jpg"}
            %img.transparent{:src=>"/images/trips/v1-2.jpg"}
            %img.transparent{:src=>"/images/trips/v1-3.jpg"}
        %li
          %a.trip.left{:href=>"#"}
            %img.data{:src=>"/images/trips/v4-bg.png"}
            %img{:src=>"/images/trips/v2-1.jpg"}
            %img.transparent{:src=>"/images/trips/v2-2.jpg"}
            %img.transparent{:src=>"/images/trips/v2-3.jpg"}
        %li
          %a.trip.right{:href=>"#"}
            %img.data{:src=>"/images/trips/v5-bg.png"}
            %img{:src=>"/images/trips/v1-1.jpg"}
            %img.transparent{:src=>"/images/trips/v1-2.jpg"}
            %img.transparent{:src=>"/images/trips/v1-3.jpg"}
        %li
          %a.trip.right{:href=>"#"}
            %img.data{:src=>"/images/trips/v6-bg.png"}
            %img{:src=>"/images/trips/v2-1.jpg"}
            %img.transparent{:src=>"/images/trips/v2-2.jpg"}
            %img.transparent{:src=>"/images/trips/v2-3.jpg"}
            
    #fb-plugins
      %h3.icon-plugins-facebook Plugins Facebook
  #footer
    %ul.nav.hnav
      %li
        %a.icon-notas{:href=>"#"} Notas
      %li
        %a.icon-album{:href=>"#"} Album
      %li
        %a.icon-tiempo{:href=>"#"} El tiempo
      %li
        %a.icon-info-viajeros{:href=>"#"} Info para viajeros
      %li
        %a.icon-conversor{:href=>"#"} Conversor
      %li
        %a.icon-check{:href=>"#"} Check my trip
      %li
        %a.icon-dnm{:href=>"#"} DNM
  
